<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00</td>        <!-- time    -->
        <td>Getting Started with Conda</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:30</td>        <!-- time    -->
        <td>Working with Environments</td>        <!-- content -->
      </tr>
      <tr>               <!-- row    -->
        <td>10:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row    -->
        <td>10:15</td>        <!-- time    -->
        <td>Working with Environments</td>        <!-- content -->
      </tr>
      <tr>               <!-- row    -->
        <td>11:00</td>        <!-- time    -->
        <td>Sharing Environments</td>        <!-- content -->
      </tr>
      <tr>               <!-- row    -->
        <td>11:30</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row    -->
        <td>11:45</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row    -->
        <td>12:00</td>        <!-- time    -->
        <td>Using Packages and Channels</td>        <!-- content -->
      </tr>
      <tr>               <!-- row    -->
        <td>12:30</td>        <!-- time    -->
        <td>Wrap-up</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>After the workshop</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
