<p>Conda is an open source package and environment management system. This workshop is for you who wants to learn more about use of Conda as a development tool for building and sharing project specific software environments that facilitate reproducible (data) science workflows.</p>
<p>
  This is a pilot workshop on <a href="https://carpentries-incubator.github.io/introduction-to-conda-for-data-scientists/">a lesson</a> in the early stages of development in <a href="{{site.ic_github}}">Carpentries Incubator</a>. 
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
