<p id="who">
  <strong>Who:</strong><br>
  The course is aimed at graduate students and other researchers who 
  <ul>
    <li>are writing or about to start writing codes as a part of your research work</li>
    <li>need to run codes written by others.</li>
  </ul> 
  This workshop is especially recommended to Python users or users to be.<br>
 
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.<br>

    However, <strong>basic knowledge of Bash / Unix Shell is necessary</strong>:&nbsp;You should be able to start a terminal, navigate to different directories, edit and manipulate files, and run commands which we provide. <a href="https://carpentries-incubator.github.io/introduction-to-conda-for-data-scientists/setup/">Setup instructions</a> will help you get started with the terminal, and going through&nbsp;<a href="https://www.youtube.com/watch?v=56p6xX0aToI">shell crash course</a>&nbsp;is sufficient for this workshop.
</p>
